.link-header {
  margin-top: 200px;
  background: rgba(0, 0, 0, 0.513);
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.link-header__title {
  font-size: 60px;
  font-family: Deadpool;
  color: #34f626;
}

@font-face {
  font-family: Deadpool;
  src: url(../fonts/deadpool.otf);
}

body {
  font-family: 'Roboto Mono', monospace;
  color: #000;
}

h1 {
  margin-bottom: 0;
}

ul,
li {
  display: block;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

header {
  background: url(../img/background.jpg) no-repeat center;
  min-height: 500px;
  background-size: cover;
}

.wrap-bg {
  background: rgba(0, 0, 0, 0.513);
}

.logo {
  width: 100px;
  padding: 5px 0;
}

.separator-logo {
  width: 160px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.separator {
  width: 40px;
  opacity: 0.5;
}

.menu__item a {
  font-size: 22px;
  color: #34f626;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.menu__item a:hover {
  text-decoration: underline;
}

.menu__item:first-child {
  margin: 0 20px;
}

.title-header {
  margin-top: 100px;
  background: rgba(0, 0, 0, 0.513);
  border-radius: 5px;
  padding: 20px 0;
}

.title-header__main,
.work__header {
  font-size: 60px;
  font-family: Deadpool;
  color: #34f626;
}

.work__header {
  color: #1eb444;
}

.title-header__job {
  font-size: 22px;
  color: #34f626;
  font-family: 'Roboto Mono', monospace;
}

main {
  background: #f3f1f1;
}

.about__title,
.skills__title,
.available__title,
.work__title {
  font-size: 30px;
  color: #1eb444;
  margin-bottom: 20px;
}

.about__description,
.skills__description,
.skills__description__item,
.available__btn__text,
.work__description {
  font-size: 18px;
}

.skills__description {
  line-height: 32px;
}

.skills__desc__line {
  background: silver;
  margin-top: 5px;
  height: 1px;
  width: 280px;
}

.btn__icon {
  font-size: 18px;
  margin-right: 30px;
}

.available__btn {
  padding: 5px;
  background-color: #1eb444;
  border-radius: 5px;
  cursor: pointer;
  color: #fafafa;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.available__btn:hover {
  background-color: #199b39;
}

.project {
  color: white;
  padding: 40px 0 50px 0;
}

.project__image {
  padding: 0 30px;
}

.project__image img {
  max-width: 100%;
  border-radius: 7px;
  max-height: 600px;
}

.project__title {
  font-size: 25px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 10px;
}

.project__technology,
.project__desc {
  font-size: 18px;
  margin-bottom: 25px;
}

.project__desc {
  margin-bottom: 50px;
}

.project__btn a {
  background: #534c4c;
  border-radius: 5px;
  padding: 12px 30px;
  color: white;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.project__btn a:hover {
  text-decoration: none;
  background: #313030;
}

.orange,
.blue,
.purple,
.yellow,
.dark,
.lightblue,
.green {
  background-color: orangered;
  border-radius: 5px;
  padding: 2px;
  color: white;
}

.blue {
  background-color: #4242fb;
}

.purple {
  background-color: #a018a0;
}

.yellow {
  background-color: #dada2e;
}

.dark {
  background-color: rgba(0, 0, 0, 0.657);
}

.lightblue {
  background-color: #4f69fb;
}

.green {
  background-color: #5dbd5d;
}

.bg1 {
  background: #6ea070;
}

.bg2 {
  background: #b66262;
}

.bg3 {
  background: #8c6daa;
}

.bg4 {
  background: #949b3e;
}

.bg5 {
  background: #6859bd;
}

.bg6 {
  background: #4ab89c;
}

footer {
  background: url(..//img/footer.jpeg) no-repeat;
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 30px;
  color: white;
}

footer .wrap-bg {
  padding-bottom: 20px;
  padding-top: 10px;
}

.socials {
  margin-bottom: 20px;
}

.socials__item {
  margin-right: 20px;
  font-size: 15px;
  color: white;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.socials__item:hover {
  color: #34f626;
}

.socials__item:last-child {
  margin-right: 0;
}

.rights__text {
  font-size: 14px;
  margin-left: 5px;
}
/*# sourceMappingURL=style.css.map */